.env
/venv

#Ignorar Cache

# Ignorar diretórios de cache
**/pycache/
**/pytest_cache/

# Ignorar arquivos de cache
*.pyc
*.pyo
*.pyd
__pycache__/
/.vscode/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
