<section>
    <form class="form formulario-escolas" name = "formulario-escolas" id="formulario-escolas" action="{{ url_for('cadastros.escolas') }}" method="post" enctype = "multipart/form-data">
        <div class="col-1-2">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" placeholder="Ex: Escola Municipal de São Paulo" required>
        </div>
        <div>
            <label for="nome">CNPJ</label>
            <input type="text" id="cnpj" name="cnpj" placeholder="Ex: 11.637.649/0001-34" required>
        </div>
        <div>
            <label for="nome">Nível de Ensino</label>
            <select type="text" id="nivel" name="nivel" placeholder="Selecione os níveis de ensino" required>
                <option value="disabledSelected">Selecione os níveis de ensino</option>
                <option value="fundamental">Fundamental</option>
                <option value="medio">Médio</option>
                <option value="superior">Superior</option>
                <option value="creche">Creche</option>
                <option value="bercario">Berçario</option>
                <option value="ceu">CEU</option>
            </select>
        </div>
        <div>
            <label for="telefone">Telefone</label>
            <input type="text" id="telefone" name="telefone" placeholder="Ex: (015) 9999-9999" required>
        </div>
        <div>
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="Ex: josemariasouza@gmail.net" required>
        </div>
        <div class="col-1">
            <label for="cep">CEP</label>
            <input type="text" id="cep" name="cep" placeholder="Ex: 18260-000" required>
        </div>
        <div class="col-2-3">
            <label for="logradouro">Logradouro</label>
            <input type="text" id="logradouro" name="logradouro" placeholder="Ex: Rua das Flores, n°620, Centro" required>
        </div>
        <div>
            <label for="complemento">Complemento</label>
            <input type="text" id="complemento" name="complemento" placeholder="Ex: Bloco C">
        </div>
        <div>
            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" name="cidade" placeholder="Ex: Santa Cruz do Rio Pardo" required>
        </div>
        <div>
            <label for="estado">Estado</label>
            <input type="text" id="estado" name="estado" placeholder="Ex: São Paulo" required>
        </div>
        <button class="botao col-4 row-5" type="submit" id = "btn_save_escolas">Salvar</button>
    </form>
</section>