.botao {
  font: 700 1rem/1.375 "Open Sans", sans-serif;
  color: #ffffff;
  border: none;
  background-color: #47889b;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 32px;
  max-width: max-content;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  justify-self: end;
  cursor: pointer;
}
