.font-1-b {
    font: 700 2.5rem "Open Sans", sans-serif
}

.font-2-s {
    font: 600 2.125rem "Open Sans", sans-serif
}

.font-3-s {
    font: 600 1.75rem "Open Sans", sans-serif
}

.font-4-m {
    font: 700 1rem "Open Sans", sans-serif
}

.font-5-p {
    font: 400 0.875rem "Open Sans", sans-serif
}

.font-6-d {
    font: 700 0.875rem "Open Sans", sans-serif
}