.header-bg{
    background-color: #156C87;
}

.header{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}

.buscar input{
    width: 250px;
    border-radius: 15px;
    border: 1px black;
    padding: 5px 10px;
}

